body{
    margin: 0px;
    background: linear-gradient(45deg,black,green);    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

}
article{
    width: 100%;
    max-width: 500px;
    min-height: 60%;
    background-color: #3762cc;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 7px #ffd118;
}
h1{
    text-align: center ;
    font-size: 2rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 0px;
}
input,label{
    display: inline-block;
    border-radius: 1.5rem;
    margin-top: 5px;
}
input{
    height: 1.5rem;
    padding: 0.1rem;
    width: 50%; 
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.img{
    width: 40%;
}
.img img{
    max-width: 100%;
    height: auto;
    margin: 0px auto;
}
label{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
    width: 100%;
    text-align: center; 
}
input:focus{
    border-radius: 20px;
    border: 2px solid rgb(207, 191, 223);
}
div{
    width: 100%;
    margin: 20px auto;
}
.button{
    text-align: center;
}
.button button{
    margin-top: 10px;
    width: 50%;
    border-radius: 5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: rgb(13, 31, 27);
    color: springgreen;
}
.button button:hover{
    background-color: rgb(0, 19, 34);
    color: white;
}
.result{
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    background-color:rgba(0, 0, 0, 0.733)  ;
    border-radius: 15px;
}
@keyframes blink {
    0%{
        color:rgb(255, 25, 25);
        opacity: 0.1;
    }
    50%{
        color:rgb(118, 253, 8);
        opacity: 0.8;
    }
    100%{
        color:rgb(129, 255, 249);
        opacity: 1;

    }
    
}

@media(max-width:530px){
    article{
        max-width: 90%;
    }
    h1{
        font-size: 2.4vmax;
    }
     label{
        font-size: 2.1vmax;
    }
    .button button{
        font-size: 2vmax;
    }
    input{
        max-width: 60%;
    }
}
